@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--violet);
  background-image: url(../images/bg-desktop.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 2rem 4.5rem 0.5rem;
  color: var(--white);
  line-height: 1.6;
}

main {
  display: flex;
}

.logo {
  position: relative;
  left: -0.5rem;
  margin-bottom: 5rem;
}

.mockup {
  width: 100%;
}

.text {
  padding: 2.5rem 4rem 2rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  width: 450px;
  margin-bottom: 1.5rem;
}

.paragraph {
  width: 460px;
}

.register {
  background-color: var(--white);
  color: var(--violet);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  width: 180px;
  padding: 0.75rem;
  border-radius: 30px;
  border: none;
  margin: 1.5rem 0;
}

.register:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
  cursor: pointer;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: flex-end;
}

.icon-border {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-border:hover {
  border: 1px solid var(--soft-magenta);
  color: var(--soft-magenta);
  cursor: pointer;
}

/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: var(--soft-magenta);
}

/* Media Queries */
@media screen and (max-width: 500px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: auto;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    width: 50%;
    height: auto;
    margin-top: 2rem;
    left: -1.5rem;
  }

  .image {
    text-align: center;
    margin-bottom: 3rem;
  }

  .mockup {
    width: 80%;
  }
  .text {
    padding: 0;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    width: 300px;
  }

  .paragraph {
    margin: 0 auto;
    width: 300px;
  }

  .register {
    width: 220px;
    padding: 0.5rem;
  }

  .social-icons {
    margin-top: 3rem;
    align-self: center;
  }

  .attribution {
    margin-top: 2rem;
  }
}
