@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--violet);
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--white);
  line-height: 1.5;
}

img, svg {
  display: block;
}

.container {
  width: min(90%, 80.75rem);
  margin-left: auto;
  margin-right: auto;
}

/* Header Section */

.logo {
  position: relative;
  right: 0.25rem;
  margin-top: 3.35rem;
  margin-bottom: 5.4rem;
  width: 13.4rem;
}

/* Main Section */

.main {
  display: flex;
  margin-bottom: 1.25rem;
}

.image {
  width: 55%;
}

.mockup {
  width: 100%;
}

.text {
padding-left: 3rem;
width: 45%;
}

.title {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
}

.paragraph {
  font-size: 1.15rem;
}

.register {
  background-color: var(--white);
  color: var(--violet);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1.1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  width: 12.5rem;
  padding: 1rem;
  border-radius: 30px;
  border: none;
  margin-top: 1.5rem;
}

.register:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
  cursor: pointer;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: flex-end;
}

.icon-border {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-border:hover {
  border: 1px solid var(--soft-magenta);
  color: var(--soft-magenta);
  cursor: pointer;
}

/* Footer Section */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--white);
}

.attribution a:hover {
  color: var(--soft-magenta);
}

/* Media Queries */
@media screen and (max-width: 1205px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .image, .text {
    width: 100%;
  }

  .text {
    padding-left: 0;
    text-align: center;
  }

  .social-icons {
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-image: url("../images/bg-mobile.svg");
  }

  .container {
    width: 83%;
  }

  .logo {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    width: 8rem;
  }

  .main {
    margin-bottom: 3.75rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1.25rem;
  }

  .paragraph {
    font-size: 1rem;
    padding: 0 0.25rem;
  }

  .register {
    padding: 0.5rem;
  }

  .footer {
    gap: 2rem;
  }
}
 